<% include ../partials/header %>
<div class="container">
    <!--<will need to create my own style sheet to center the 2 inputs and make them
    smaller>-->
    <div class="row">
        <h1 style="text-align: center;">Edit <%= device.hostname %></h1>
        <!--<margin 25 px for top and bottom, auto for left and right>-->
        <div style="width:30%; margin:25px auto;">
            <form method="POST" action="/devices/<%= device._id %>/?_method=PUT">
                <!--<use form-group to make spacing between components>-->
                <div class="form-group">
                    <label for="hostname">Host Name</label>
                    <input class="form-control" type="text" name="device[hostname]" value="<%= device.hostname %>" readonly>
                </div>
                <div class="form-group">
                    <label for="ipaddress">IP Address</label>
                    <input class="form-control" type="text" name="device[ipaddress]" value="<%= device.ipaddress %>" readonly>
                </div>
                <div class="form-group">
                    <label for="community">Community String</label>
                    <input class="form-control" type="text" name="device[community]" value="<%= device.community %>">
                </div>
                <div class="form-group">
                    <label for="device-pop-name">POP Name</label>
                    <select id="device-pop-name" class="form-control select2-single" type="text" name="device[pop]"  data-init-text="<%= device.pop %>" >
                    </select>
                </div>
                <!--
                <div class="form-group">
                    <label for="device-sector-name">Sector Name</label>
                    <% if(device.sector === undefined){ %>
                        <select id="device-sector-name" class="form-control select2-single" type="text" name="device[sector]"  value="<%= device.sector %>"  >
                        </select>
                    <% } else {  %>
                        <select id="device-sector-name" class="form-control select2-single" type="text" name="device[sector]"  data-init-text="<%= device.sector %>"  >
                        </select>
                    <%   } %>
                </div>
                <div class="form-group">
                    <label for="device-governorate-name">Governorate Name</label>
                    <% if(device.gov === undefined){ %>
                    <select id="device-governorate-name" class="form-control select2-single" type="text" name="device[gov]"  value="<%= device.gov %>" >
                    </select>
                    <% } else {%>
                    <select id="device-governorate-name" class="form-control select2-single" type="text" name="device[gov]"  data-init-text="<%= device.gov %>" >
                    </select>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="deviceType">Type</label>
                    <select id="device-type" class="form-control select2-single" name="device[type]" data-init-text="<%= device.type %>" disabled>
                      <option value="Router">Router</option>
                      <option value="Switch">Switch</option>
                      <option value="Access Switch">Access Switch</option>
                      <option value="DSLAM">DSLAM</option>
                      <option value="MSAN">MSAN</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="model">Model</label>
                    <input class="form-control" type="text" name="device[model]" value="<%= device.model %>" readonly>
                </div>
                <div class="form-group">
                    <label for="vendor">Vendor</label>
                    <input class="form-control" type="text" name="device[vendor]" value="<%= device.vendor %>" readonly>
                </div>
                <div class="form-group">
                    <label for="sysObjectID">sysObjectID</label>
                    <input class="form-control" type="text" name="device[sysObjectID]" value="<%= device.sysObjectID %>" readonly>
                </div>
                -->
                <div class="form-group">
                    <!--<btn-block will let the button takes width of the 2 inputs>-->
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <!--
            <a href="/devices/<%= id %>/">Go Back</a>
            -->
            <a href="/devices/">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>