<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">BET</p>
            <div class="list-group">
                <a href="/devices/"><li class="list-group-item active" href="/devices">All Devices</li></a>
                <a href="/pops/"><li class="list-group-item">All POPs</li></a>
                <a href="/governorates/"><li class="list-group-item" href="/governorates">All Governorates</li></a>
                <a href="/sectors/"><li class="list-group-item">All Sectors</li></a>
                <a href="/links/"><li class="list-group-item">All Links</li></a>
                <a href="/users/"><li class="list-group-item">All Users</li></a>
            </div>
        </div>
        
        <div class="col-md-9">
            <h1><%=device.name  %></h1>
            <div class="thumbnail">
                <img class="img-responsive" src="/images/router.png">
                <div class="caption-full">
                    <h4 class="pull-right">IP: <%=device.ipaddress  %></h4>
                    <h4><a href="/devices/<%= device._id %>"><%=device.hostname  %></a></h4>
                    <p><%=device.description  %></p>
                    <p><em>Added By:  <%= device.author.email %></em></p>
                    <!--/currentUser is setted up application.js middleware/-->
                    <!--<!% console.log("show.ejs currentUser: "+ currentUser) %>-->
                    <% if(currentUser && device.author.id.equals(currentUser._id)){ %> 
                        <a class="btn btn-warning" href="/devices/<%= device._id %>/edit">Edit</a>
                        <form id="delete-form" action="/devices/<%= device._id %>/?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <!--<div class="text-right">-->
                <!--    <a class="btn btn-success" href="/devices/<!%= device._id %>/interfaces/new">Add a New Interface</a>-->
                <!--</div>-->
                <!--<hr>-->
                <% device.interfaces.forEach(function(interface){ %>
                <%= console.log(interface._id)  %>
                    <div class="row">
                        <div class="col-md-12">
                            <p><em>Created by: <%= interface.author.email %></em></p>   
                            <span class="pull-right">Created <%= interface.created.toDateString() %></span>
                            <form id="if-delete-form" action="/devices/<%= device._id %>/interfaces/<%= interface._id %>/?_method=DELETE" method="POST">
                                <div class="form-group">
                                    <input class="form-control" type="hidden" name="interface[device][id]" value="<%= device._id %>" readonly>
                                </div>
                                <button class="btn btn-sm">
                                    <i class="glyphicon glyphicon-remove" aria-hidden="true"><%= interface.description %></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <hr>
                <% }); %>
                
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>