<% include ../partials/header %>
<div class="container">
    <!--<will need to create my own style sheet to center the 2 inputs and make them
    smaller>-->
    <div class="row">
        <h1 style="text-align: center;">Edit POP <%= pop.name %></h1>
        <!--<margin 25 px for top and bottom, auto for left and right>-->
        <div style="width:30%; margin:25px auto;">
            <form method="POST" action="/pops/<%= pop._id %>/?_method=PUT">
                <!--<use form-group to make spacing between components>-->
                <div class="form-group">
                    <label for="shortName">POP Short Name</label>
                    <input class="form-control" type="text" name="pop[shortName]" value="<%= pop.shortName %>" readonly>
                </div>
                <div class="form-group">
                    <label for="popname">POP Type</label>
                    <select class="form-control" type="text" name="pop[name]" value="<%= pop.popType %>">
                    <% if(pop.popType === undefined) { %>
                        <option value="Access" selected="selected">Access</option>
                        <option value="Core">Core</option>
                        <option value="Distribution">Distribution</option>
                        <option value="Cabinet">Cabinet</option>
                    <% } else if(pop.popType == null) {%>
                        <option value="Access" selected="selected">Access</option>
                        <option value="Core">Core</option>
                        <option value="Distribution">Distribution</option>
                        <option value="Cabinet">Cabinet</option>
                    <% } else if(pop.popType == "Access") {%>
                        <option value="Access" selected="selected">Access</option>
                        <option value="Core">Core</option>
                        <option value="Distribution">Distribution</option>
                        <option value="Cabinet">Cabinet</option>
                    <% } else if(pop.popType == "Distribution") {%>
                        <option value="Distribution" selected="selected">Distribution</option>
                        <option value="Access">Access</option>
                        <option value="Core">Core</option>
                        <option value="Cabinet">Cabinet</option>
                    <% } else if(pop.popType == "Cabinet") {%>
                        <option value="Cabinet" selected="selected">Cabinet</option>
                        <option value="Distribution">Distribution</option>
                        <option value="Access">Access</option>
                        <option value="Core">Core</option>
                    <% } else if(pop.popType == "Core"){%>
                        <option value="Core" selected="selected">Core</option>
                        <option value="Access">Access</option>
                        <option value="Distribution">Distribution</option>
                        <option value="Cabinet">Cabinet</option>
                        <% } %>
                    </select>
                </div>
              <!--  <div class="form-group">
                    <label for="governorateAcro">Governorate </label>
                    <input class="form-control" type="text" name="pop[governorate]" value="<%= pop.gov %>">
                </div> -->
                 <div class="form-group">
                    <label for="governorate-pop-name">Governorate Name</label>
                    <select id="governorate-pop-name" class="form-control select2-single" required="true" type="text" name="pop[gov]"  data-init-text="<%= pop.gov %>">
                     <option value="<%= pop.gov %>"><%= pop.gov %></option>
                    </select>
                </div>   
                <div class="form-group">
                    <label for="district">District</label>
                    <input class="form-control" type="text" name="pop[district]" value="<%= pop.district %>">
                </div>
                <div class="form-group">
                    <label for="sector">Sector</label>
                    <input class="form-control" type="text" name="pop[sector]" value="<%= pop.sector %>">
                </div>
                <div class="form-group">
                    <label for="sector">Parent POP</label>
                    <input class="form-control" type="text" name="pop[parentPOP]" value="<%= pop.parentPOP %>">
                </div>
                <div class="form-group">
                    <!--<btn-block will let the button takes width of the 2 inputs>-->
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <!--<a href="/devices/<%= pop._id %>/">Go Back</a>-->
            <a href="/pops/">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>