<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">BET</p>
            <div class="list-group">
                <a href="/devices/"><li class="list-group-item" href="/devices">All Devices</li></a>
                <a href="/pops/"><li class="list-group-item">All POPs</li></a>
                <a href="/governorates/"><li class="list-group-item " href="/governorates">All Governorates</li></a>
                <a href="/sectors/"><li class="list-group-item">All Sectors</li></a>
                <a href="/links/"><li class="list-group-item">All Links</li></a>

                <a href="/users/"><li class="list-group-item">All Users</li></a>
                 <a href="/temsaninfos/"><li class="list-group-item active">All TE Msans</li></a>
            </div>
        </div>
        
        <div class="col-md-9">
            <h1>Msan Code:  <%= temsaninfo.msanCode  %></h1>
            <div class="thumbnail">
                <!--<img class="img-responsive" src="/images/router.png">-->
                <div class="caption-full">
                    <h4 class="pull-right">Msan Code: <%= temsaninfo.msanCode  %>
                        <br>
                        TE Mng IP: <%= temsaninfo.teMngIP  %>
                         <br>
                        TEData Mng IP: <%= temsaninfo.TEDataMngIP  %>
                         <br>
                        TE Sector: <%= temsaninfo.teSector  %>
                         <br>
                        TE District: <%= temsaninfo.teDistrict  %>
                    </h4>

                    <h4><a href="/temsaninfos/<%= temsaninfo._id %>"><%= temsaninfo.msanCode  %></a>
                    <br>
                    <br>
                    <br>
                    </h4>
                     
                    
                    
                   
                        <a class="btn btn-warning" href="/temsaninfos/<%= temsaninfo._id %>/edit">Edit</a>
                        <form id="delete-form" action="/temsaninfos/<%= temsaninfo._id %>/?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>